MCPGATEWAY_UI_ENABLED=true
MCPGATEWAY_ADMIN_API_ENABLED=true
DATABASE_URL=sqlite:////data/mcp.db
HOST=0.0.0.0
JWT_SECRET_KEY=my-test-key
BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=changeme
PLATFORM_ADMIN_EMAIL=admin@example.com
PLATFORM_ADMIN_PASSWORD=changeme
PLATFORM_ADMIN_FULL_NAME="Platform Administrator"
